@tailwind base;
@tailwind components;
@tailwind utilities;


.nav-text-with-line {
  display: flex;
  align-items: center;

}

.nav-line {
  width: 2rem;
  height: 1px;
  transition: width 0.3s ease, background-color 0.3s ease;
  margin-right: 1rem;
  background-color: rgb(100 116 139);
}

.nav-text {
  transition: color 0.3s ease;
  color: rgb(100 116 139);
}

.nav-text-with-line:hover .nav-line {
  width: 4rem;
  background-color: rgb(226 232 240);
}

.nav-text-with-line:hover .nav-text {
  color: rgb(226 232 240);
}

.nav-text-with-line:focus .nav-line {
  width: 4rem;
  background-color: rgb(226 232 240);
}

.nav-text-with-line:focus .nav-text {
  color: rgb(226 232 240);
}

.text-xxs {
  font-size: 0.65rem;
  line-height: 0.9rem;
}